<section class="design">
  <div class="design__box">
    <i class="far fa-object-ungroup fa-object-ungroup--design"></i>
    <h2 class="design__title">DISEÑA</h2>
    <i class="fas fa-angle-up fa-angle-up--design"></i>
  </div>

  <div class="design__form">
    <h3 class="design__subtitle">COLORES</h3>

    <form class="design__form--items">
      <div class="color__box">
        <input class="form__item" type="radio" value="color1" name="design" />
        <div class="color__one--one"></div>
        <div class="color__two--one"></div>
        <div class="color__three--one"></div>
      </div>
      <div class="color__box">
        <input class="form__item" type="radio" value="color2" name="design" />
        <div class="color__one--two"></div>
        <div class="color__two--two"></div>
        <div class="color__three--two"></div>
      </div>
      <div class="color__box">
        <input class="form__item" type="radio" value="color3" name="design" />
        <div class="color__one--three"></div>
        <div class="color__two--three"></div>
        <div class="color__three--three"></div>
      </div>
      <div class="color__box">
        <input class="form__item" type="radio" value="color3" name="design" />
        <div class="color__one--four"></div>
        <div class="color__two--four"></div>
        <div class="color__three--four"></div>
      </div>
      <div class="color__box">
        <input class="form__item" type="radio" value="color3" name="design" />
        <div class="color__one--five"></div>
        <div class="color__two--five"></div>
        <div class="color__three--five"></div>
      </div>
      <div class="color__box">
        <input class="form__item" type="radio" value="color3" name="design" />
        <div class="color__one--six"></div>
        <div class="color__two--six"></div>
        <div class="color__three--six"></div>
      </div>
    </form>
  </div>
</section>