<section class="folded__menu">
  <div class="form__box">
    <i class="far fa-keyboard fa-keyboard--design"></i>
    <h2 class="form__title">RELLENA</h2>
    <i class="fas fa-angle-down fa-angle-down--design"></i>
  </div>


  <form action="/signup" method="post" class="folded__form">
    <label for="fullName" class="folded__form__label">Nombre completo</label>
    <input placeholder="Ej: Sally Jill" id="fullName" type="text" name="fullName" class="folded__form__input" />
    <label for="profession" class="folded__form__label">Puesto</label>
    <input placeholder="Ej: Front-end unicorn" id="profession" type="text" name="profession"
      class="folded__form__input" />

    <div class="folded__form__btnLine">
      <input type="submit" value="Añadir imágen" class="folder__form__btn" />
      <div class="folded__form__clickbox"></div>
    </div>

    <label for="emailAddress" class="folded__form__label">Correo electrónico</label>
    <input placeholder="Ej: sally-hill@gmail.com" type="email" id="emailAddress" name="emailAddress"
      class="folded__form__input" />
    <label for="telephone" class="folded__form__label">Teléfono</label>
    <input placeholder="Ej: 555-55-55-55" type="tel" id="telephone" name="telephone" class="folded__form__input" />
    <label for="Linkedin" class="folded__form__label">Linkedin</label>
    <input placeholder="Ej: linkedin.com/in/sally.hill" id="Linkedin" type="text" name="Linkedin"
      class="folded__form__input" />
    <label for="Github" class="folded__form__label">Github</label>
    <input placeholder="Ej: @sally-hill" type="email" id="Github" name="Github" class="folded__form__input" />
  </form>

</section>