<section class="folded__menu">
  <div class="share__box">
    <div class="share__box__position">
      <i class="fas fa-share-alt fa-keyboard--design"></i>
      <h2 class="share__title">COMPARTE</h2>
    </div>
    <i class="fas fa-angle-down fa-angle-up--design js-arrow"></i>
  </div>
  <div class="collapsable">
    <div class="share__button">
      <button type="submit" class="share__button--orange">
        <i class="far fa-address-card share__button--orange--icon"></i>
        <h2 class="share__button--orange--text">CREAR TARJETA</h2>
      </button>
    </div>
  </div>
</section>
