<section class="viewer">
    <div class="viewer__header">
        <div class="viewer__logo">
            <img src="../../assets/images/awesome.svg" alt="Awesome profile-cards logo" height="50px" width="201px">
        </div>
    </div>
    <div class="viewer__container">
        <buttom class="viewer__buttom">
            <div class="viewer__buttom-icon"></div>
            <p class="viewer__buttom-reset">RESET</p>
        </buttom>
        <div class="viewer__image-container">

        </div>
    </div>


</section>