<section class="viewer">
    <div class="viewer__header">
        <a href="../index.html">
            <div class="viewer__logo"></div>
        </a>
    </div>
    <div class="viewer__container-background">
        <div class="viewer__container-buttom-image">
            <buttom class="viewer__buttom">
                <i class="far fa-trash-alt"></i>
                <p class="viewer__buttom-reset">RESET</p>
            </buttom>
            <div class="viewer__image-container">
                <div class="viewer__image-title">
                    <div class="viewer__image-line"></div>
                    <div class="viewer__image-text">
                        <h2 class="viewer__image-name">Nombre Apellido</h2>
                        <h3 class="viewer__image-profession">Front-end developer</h3>
                    </div>
                </div>
                <div class="viewer__profile-picture"></div>
                <div class="viewer__icons">
                    <div class="viewer__icon-style">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="viewer__icon-style">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="viewer__icon-style">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="viewer__icon-style">
                        <i class="fab fa-github-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>