<section class="viewer">
    <div class="viewer__header">
        <div class="viewer__logo">
            <img src="../../assets/images/awesome.svg" alt="Awesome profile-cards logo" height="50px" width="201px">
        </div>
    </div>
    <div class="viewer__container-background">
        <div class="viewer__container-buttom-image">
            <buttom class="viewer__buttom">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <p class="viewer__buttom-reset">RESET</p>
            </buttom>
            <div class="viewer__image-container">
                <div class="viewer__image-title">
                    <div class="viewer__image-line"></div>
                    <div class="viewer__image-text">
                        <h2 class="viewer__image-name">Nombre Apellido</h2>
                        <h3 class="viewer__image-profession">Front-end developer</h3>
                    </div>
                </div>
                <div class="viewer__profile-picture"></div>
                <div class="viewer__icons">
                    <div class="viewer__icon-style">
                        <i></i>
                    </div>
                    <div class="viewer__icon-style">
                        <i></i>
                    </div>
                    <div class="viewer__icon-style">
                        <i></i>
                    </div>
                    <div class="viewer__icon-style">
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>