<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>komorebi</title>
    <link rel="icon" href="favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,900|Montserrat:400,700|Open+Sans:400,600&display=swap"
      rel="stylesheet"
    />
    <link
    href="./assets/fonts/fontawesome-free-5.9.0-web/css/fontawesome.css"
    rel="stylesheet"
  />
  <link
    href="./assets/fonts/fontawesome-free-5.9.0-web/css/brands.css"
    rel="stylesheet"
  />
  <link
    href="./assets/fonts/fontawesome-free-5.9.0-web/css/solid.css"
    rel="stylesheet"
  />
  <link
    href="./assets/fonts/fontawesome-free-5.9.0-web/css/regular.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <partial src="_landing-header.html"></partial>
    <partial src="_landing-footer.html"></partial>
  </body>
</html>
