<!DOCTYPE html>
<html lang="es">
  <partial src="/_head.html"></partial>

  <body>
    <partial src="_header.html"></partial>
    <section class="section__mediasq">
      <div class="visor__mediasq">
        <partial src="_viewer.html"></partial>
      </div>
      <div class="workSpace">
        <form action="" id="form">
          <partial src="/_design.html"></partial>
          <partial src="/_form.html"></partial>
          <partial src="/_share.html"></partial>
        </form>
      </div>
    </section>
    <partial src="/_landing-footer.html"></partial>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
