<!DOCTYPE html>
<html lang="es">
    <partial src="/_head.html"></partial>


  <body>
    <section class="section">
      <div class="visor__medias">
        <partial src="_viewer.html"></partial>
      </div>
      <div class="workSpace">
        <partial src="/_design.html"></partial>
        <partial src="./_form.html"></partial>
        <partial src="/_share.html"></partial>
        <partial src="/_share-message.html"></partial>
        <partial src="/_landing-footer.html"></partial>
      </div>
    </section>
  </body>
</html>
