<!DOCTYPE html>
<html lang="es">
    <partial src="/_head.html"></partial>


  <body>
    <section class="section__mediasq">
      <div class="visor__mediasq">
        <partial src="_viewer.html"></partial>
      </div>
      <div class="workS__mediasq">
        <form action="">
        <partial src="/_design.html"></partial>
        <partial src="./_form.html"></partial>
        <partial src="/_share.html"></partial>
        <partial src="/_share-message.html"></partial>
      </form>
        <partial src="/_landing-footer.html"></partial>
      </div>
      </section>
  </body>
</html>
