.design {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#f5f5f5, #ffffff);

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 27px 168px 25px 10px;
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
  }

  &__subtitle {
    margin: 10px 72px 132px 39px;
    font-family: $fontMain;
    color: $secondary-color;
    font-size: 14px;
  }
}

.fa-edit {
    margin-left: 41px; 
    color: $dull-orange;
}

.fa-chevron-up {
    font-size: 20px;
    padding-right: 50px;
    color: $secondary-color;
}

.design__form {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;

  &--items {
    display: flex;
    flex-direction: column;
    padding: 10px 0 34px 0;
  }
}

.form__item {
  margin: 10px 0;
}

.color__box {
  display: flex;
  padding: 10px;
}

.color {
  &__one--one {
    margin-left: 10px;
    height: 25px;
    width: 30px;
    background-color: $dark-green-blue;
  }
  &__two--one {
    height: 25px;
    width: 30px;
    background-color: $dirty-blue;
  }
  &__three--one {
    height: 25px;
    width: 30px;
    background-color: $hospital-green;
  }

  &__one--two {
    margin-left: 10px;
    height: 25px;
    width: 30px;
    background-color: $maroon;
  }
  &__two--two {
    height: 25px;
    width: 30px;
    background-color: $dirty-red;
  }
  &__three--two {
    height: 25px;
    width: 30px;
    background-color: $dark-orange;
  }

  &__one--three {
    margin-left: 10px;
    height: 25px;
    width: 30px;
    background-color: $dark-green;
  }
  &__two--three {
    height: 25px;
    width: 30px;
    background-color: $yellow-mustard;
  }
  &__three--three {
    height: 25px;
    width: 30px;
    background-color: $pale-blue;
  }

  &__one--four {
    margin-left: 10px;
    height: 25px;
    width: 30px;
    background-color: $blue-jean;
  }
  &__two--four {
    height: 25px;
    width: 30px;
    background-color: $greenish-grey;
  }
  &__three--four {
    height: 25px;
    width: 30px;
    background-color: $light-yellow;
  }

  &__one--five {
    margin-left: 10px;
    height: 25px;
    width: 30px;
    background-color: $dark-red;
  }
  &__two--five {
    height: 25px;
    width: 30px;
    background-color: $pale-purple;
  }
  &__three--five {
    height: 25px;
    width: 30px;
    background-color: $light-orange ;
  }

  &__one--six {
    margin-left: 10px;
    height: 25px;
    width: 30px;
    background-color: $dark-violet;
  }
  &__two--six {
    height: 25px;
    width: 30px;
    background-color: $medium-purple;
  }
  &__three--six {
    height: 25px;
    width: 30px;
    background-color: $light-purple;
  }
}


.folded__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
  }

  &__title {
    margin: 10px 155px 7px 10px;
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
  }
}

.fa-keyboard {
    margin-left: 31px; 
    color: $dull-orange;
}

.share {

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-bottom: 2px solid #f5f5f5;
  }

  &__title {
    margin: 10px 137px 7px 10px;
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
  }
}

.fa-share-alt {
    margin-left: 31px; 
    color: $dull-orange;
}

.fa-chevron-down {
    font-size: 20px;
    padding-right: 50px;
    color: $secondary-color;
}