.folded__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
}

.form {
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $borderLine;
    cursor: pointer;
  }

  &__box__position {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
    margin-left: 10px;
  }
}

.fa-keyboard--design {
  color: $dull-orange;
}

.fa-angle-down--design {
  font-size: 20px;
  color: $secondary-color;
}

.folded__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;

  &__label {
    font-family: $fontMain;
    color: $dark-green-blue;
    font-size: 14px;
    margin-bottom: 7px;
  }

  &__input {
    border: $hospital-green solid 1px;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 5px;
  }

  &__section {
    display: flex;
  }

  &__btnAdd {
    width: 140px;
    height: 30px;
    margin-bottom: 20px;
    background-color: $dull-orange;
    color: white;
    border-radius: 3px;
    border-style: none;
    font-size: 14px;
    margin-right: 20px;
    text-align: center;
    font-family: $fontMain;
    line-height: 30px;
    cursor: pointer;
  }

  &__inputFile {
    display: none;
  }

  &__input2 {
    appearance: none;
    border: $hospital-green solid 1px;
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
  }
}

@media all and (min-width: 768px) {
  .folded__menu {
    padding: 0;
    align-items: space-between;
  }

  .form {
    &__box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
