.viewer {
  &__header {
    //width: 100%;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 201px;
    height: 50px;
    background-image: url("../images/awesome.svg");
    background-size: cover;
  }
}

@media all and (min-width: 768px) {
  .viewer {
    &__header {
      justify-content: flex-start;
      margin-left: 40px;
    }
  }
}
