.header {
  background-color: $background-landing;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;

  &__img {
    margin-top: 95px;
    margin-bottom: 35.4px;
    width: 250px;

    @media all and (min-width: $tabletSize) {
      width: 419px;
      margin-bottom: 31px;
    }
  }

  &__title {
    color: $dull-orange;
    font-family: $fontLanding;
    font-size: 19.2px;
    font-weight: bold;
    line-height: 24px;
    margin-block-start: 0;
    margin-block-end: 0;

    @media all and (min-width: $tabletSize) {
      font-size: 24px;
    }
  }

  &__text {
    color: $dark-green-blue;
    font-family: $fontMain;
    font-size: 12.8px;
    text-align: center;
    margin-bottom: 17.8px;

    @media all and (min-width: $tabletSize) {
      width: 331px;
      font-size: 16px;
    }
  }

  &__description {
    border: solid 1px rgba($dull-orange, 0.21);
    border-radius: 4px;
    height: 73.8px;
    width: 268px;
    margin-bottom: 38.6px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media all and (min-width: $tabletSize) {
      width: 325px;
      margin-bottom: 186px;
    }
  }

  &__description-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description-icon-text {
    font-family: $fontMain;
    color: #54585a;
    font-size: 12.8px;

    @media all and (min-width: $tabletSize) {
      font-size: 16px;
    }
  }

  &__description-icon {
    margin-top: 15px;
    color: $dull-orange;
    font-size: 22.4px;

    @media all and (min-width: $tabletSize) {
      font-size: 28px;
    }
  }

  &__description-icon-text {
    margin-block-start: 0;
  }

  &__btn {
    width: 129px;
    height: 42px;
    background-color: $dirty-blue;
    border-radius: 21px;
    margin-bottom: 30px;
    border-style: none;

    @media all and (min-width: $tabletSize) {
      margin-bottom: 59px;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $fontMain;
    font-weight: 600;
  }
}
