.footer {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px $borderLine;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;

  @media all and (min-width: $tabletSize) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 40px 0 40px;
  }

  &__product-signature {
    margin-bottom: 12px;
    padding-top: 18px;
    font-family: $fontMain;
    font-size: 14px;
    color: #6b6b6b;
    opacity: 0.5;

    @media all and (min-width: $tabletSize) {
      padding-top: 0;
    }
  }

  &__logo {
    height: 40px;
    margin-bottom: 20px;
  }
}
