@media all and (min-width: $tabletSize) {
  .section {
    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(to bottom, #f5f5f5, #ffffff);
  }
  .workSpace {
    background-color: red;
  }
}
