@media all and (min-width: 768px) {
  .section__mediasq {
    width: 100vw;
    padding: 0 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background: linear-gradient(#f5f5f5, #ffffff);
  }

  .visor__mediasq {
    margin-left: 40px;
  }
  .workS__mediasq {
    display: flex;
    flex-direction: column;
  }
}
