.share {
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-bottom: 1px solid $borderLine;
    margin-bottom: 31px;
  }

  &__title {
    margin: 10px 137px 7px 10px;
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
  }
}

.fa-share-alt--design {
  margin-left: 31px;
  color: $dull-orange;
}

.fa-angle-down--design {
  font-size: 20px;
  padding-right: 50px;
  color: $secondary-color;
}
