.share {
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-bottom: 1px solid $borderLine;
    margin-bottom: 31px;
  }

  &__title {
    margin: 10px 137px 7px 10px;
    font-family: $fontMain;
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
  }
  &__button--orange {
    width: 199px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    background-color: $dull-orange;
  }
  &__button--text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
}

.fa-share-alt--share {
  color: $dull-orange;
}

.fa-angle-down--up {
  font-size: 20px;
  color: $secondary-color;
}
