$primary-color:#000;
$secondary-color: #54585a; /* Color tipografía */
$dirty-blue:#438792;
$hospital-green:#a2deaf;
$light-khaki: #f9f4dc;
$dull-orange: #e17334;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$black-low-opacity: rgba(0,0,0,0.2);
$dark-green-blue: #114e4e;

$maroon: #420101;
$dirty-red:#bd1010;
$dark-orange: #e95626;
$dark-green: #3e5b65;
$yellow-mustard: #eab052;
$pale-blue: #a0c0cf;

$blue-jean:#669ACC;
$light-orange: #FF945A;
$greenish-grey: rgb(199, 216, 187);
$dark-red: #901242;
$pale-purple: rgb(153, 125, 206);
$light-yellow: #fde98d;
$dark-violet: #660074;
$medium-purple: #a256a5;
$light-purple: #ffb8fb;
