$primary-color: #000;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$light-khaki: #f9f4dc;
$dull-orange: #e17334;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$black-low-opacity: rgba(0, 0, 0, 0.2);
$dark-green-blue: #114e4e;
$borderLine: #d8d8d8;

$tabletSize: 768px;
$desktopSize: 1200px;
