$primary-color: #000;
$secondary-color: #54585a; /* Color tipografía */
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$light-khaki: #f9f4dc;
$dull-orange: #e17334;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$black-low-opacity: rgba(0, 0, 0, 0.2);
$dark-green-blue: #114e4e;
$background-landing: #f5f5f5;
$borderLine: #d8d8d8;
$light-grey: #d5d5d5;

$maroon: #420101;
$dirty-red: #bd1010;
$dark-orange: #e95626;

$dark-green: #3e5b65;
$yellow-mustard: #eab052;
$pale-blue: #a0c0cf;

$blue-jean: #669acc;
$greenish-grey: rgb(199, 216, 187);
$light-yellow: #fde98d;

$dark-red: #901242;
$pale-purple: rgb(153, 125, 206);
$light-orange: #ff945a;

$dark-violet: #660074;
$medium-purple: #a256a5;
$light-purple: #ffb8fb;

$borderLine: #d8d8d8;
$tabletSize: 768px;
$desktopSize: 1024px;
